/*body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('http://www.angrynerd.in/public/images/site_bg.jpg');
  background-size:cover;

  background-color: black;
  background-blend-mode: screen;

  width: 100%;
  height: 100%;

  filter: opacity(0.85) blur(2px);
  -ms-filter: opacity(0.85) blur(2px);
  -o-filter: opacity(0.85) blur(2px);
  -moz-filter: opacity(0.85) blur(2px);
}

h1,h2,h3,h4,h5,h6,a {
  color: white !important;
}

.fixed-bar {
	background: none;
}*/

body {
  letter-spacing: 0.01em;
}

.content {
  display: flex;
  align-items: center;
}

#tags {
	list-style: none;
	padding: 0;
}

#tags li:not(:first-child) {
	margin-left: 5px;
}

#tags li {
	padding: 5px 10px;
	float: left;
	/*border: #e8e8e8 1px solid;*/
	background: #f9f9f9;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.center {
  text-align: center;
}